@{
    ViewBag.Title = "Engine Working Hours Report";
}

<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<div class="row-fluid">
    <div class="widget-body">
        <!-- Main window -->
        <div class="main_container" id="tables_page">
            @Html.Action("_ReportFilter", new { reportTitle = "Thresher Working Hours Report" })
            <br />
            <div class="row-fluid" style="margin-bottom: 12px; margin-top: -37px;">
                <div class="widget-body" style="border: 0">
                    <div class="row-fluid">
                        <div id="alertss" class="widget span12">

                            <div class="widget-body clearfix" style="background: #fff; overflow-x: auto">
                                <div id="DivVehcleCounter">
                                    <div class="box_a_content">
                                           <table id="dt_basic_Master" class="table table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="hidden">BBID                                                    
                                                    </th>
                                                    <th>Vehicle No
                                                    </th>
                                                    <th>Driver Name
                                                    </th>
                                                    <th>Thresher On Count
                                                    </th>
                                                    <th>Total Thresher Working Hours
                                                    </th><th>Details</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!--/widget-body-->
            </div>


            <!-- REPORT FOOTER HERE-->
            @*@Html.Partial("_ReportFooter")*@
        </div>
        <!-- /widget ---->
    </div>
    <!-- /row-fluid -->
</div>
<!-- /Main window -->
<div id="ShowLocationOnMap" title="Basic dialog">
</div>
@section css{
    <style>
        .col-md-2 {
            width: 15.6%;
            /* margin-right: 0px; */
            margin-left: 6px;
            background: #fff;
            text-align: left;
        }

        .box {
            background: #dddcdc none repeat scroll 0 0;
            border: 0px solid #cdcdcd;
            border-radius: 3px;
            box-shadow: none;
            margin-bottom: 5px;
        }
    </style>
}
@*@section scripts{
    <script type="text/javascript" src="@Url.Content("~/content/js/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/bootstrap-timepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/Ignition.js?1.2")"></script>
    <script>
        $(function () {
            $('.datepicker').datepicker();

            $('#timepicker1').timepicker();
            $('#timepicker2').timepicker();
        });

    </script>
}*@
@section scripts{
    <script src="~/Scripts/app/common.js"></script>
     <script src="~/Content/js/APIURL.js"></script>
    <script src="~/Scripts/app/ThresherHours.js"></script>
    }