@model IEnumerable<Hitec.BB.TrackMaster.Models.FileNames>
@{
    ViewBag.Title = "DownloadManual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box_a">
    <div class="box_a_heading">
        <h3>Download Manual</h3>
    </div>
    <div class="box_a_content cnt_a">
        <div class="row-fluid">
            <div class="span12">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group" style="width: 1035px">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">Download Manual
                                &nbsp;&nbsp;<img src="~/images/DownloadManual.ico" alt="blackbox" /></a>
                        </div>
                        <div id="collapseOne2" class="accordion-body collapse">
                            <div class="accordion-inner">
                                1. Now you can monitor your vehicle or assets in Real Time on PC, Mobile / PDA.<br />
                                2. Device is installed in the Vehicle.<br />
                                3. Information is then processed on our servers.<br />
                                4. Device transmits GPS Data on GPRS Network to our Server.<br />
                                <br /> 
                               <a href="/misc/StartDownload" style="color: black;">Click here to Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

