@{
    ViewBag.Title = "ResetPassword";
}

<style>
    .select2-container {
        z-index: 100 !important;
        width: 500px !important;
    }




    .dropdown value {
        display: none;
    }

    .dept {
        display: none;
    }

    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        width: 100px !important;
    }

    .button1 {
        background-color: #6c757d; /* Green */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .button2 {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }

    .button1:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>
<script src="~/Content/Alertify/sweetalert.min.js"></script>
<link href="~/Content/Alertify/sweetalert.css" rel="stylesheet" />
<div class="row-fluid">
    <div class="span12">
        <div class="box_a">
            <div class="widget-header">
                <i class="fa fa-file-archive-o"></i>
                <h5>@ViewBag.Title</h5>
                <div class="btn-group btn-adjst" style="margin-left: 37px;">

                </div>
            </div>
            <div class="box_a_content">

                <form id="AddSubUserRequestForm" name="AddSubUserRequestForm">
                    <label id="ErrorMessage" style="color: red"></label>
                    <table id="dt_table_tools1" class="table">
                        <tbody>
                            <tr>
                                <td class="table_cell">
                                   Select User
                                </td>
                                <td>
                                    <select id="User" class="js-example-basic-single"></select>

                                </td>
                                <td class="table_cell">
                                    <input type="submit" id="Submit" name="Submit" value="Reset Password" class="btn btn-green pull-right" />
                                </td>
                            </tr>
                           
                            
                        </tbody>
                    </table>
                </form>




            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/app/common.js"></script>

    <script src="~/Scripts/app/ResetPassword.js" type="text/javascript"></script>
    <link href="~/Scripts/Select/select2.css" rel="stylesheet" type="text/css" />

}
