@{
    ViewBag.Title = "Fuel Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
     .button {
        border: none;
        color: white;
        padding: 0px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        width: 500px !important;
    }

    .button1 {
        background-color: #a6a6a6; /* Green */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .button2 {
        background-color: #28a745; /* Green */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
         .button3 {
        background-color: #0d6efd; /* Green */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
          width: 400px !important;
    }
       .a{
        font-size:17px;
    }
</style>
<div class="row-fluid">
    <div class="span12">
        <div class="box_a">
            <div class="widget-header">
                <i class="fa fa-file-archive-o"></i>
                <h5>Fuel Issue</h5>
                
            </div>
            <div class="box_a_content">
                <form id="AddServiceRequestForm" name="AddServiceRequestForm">
                    <label id="ErrorMessage" style="color: red"></label>
                    <table id="dt_table_tools1" class="table ">
                        <tbody>
                         
                            <tr>
                                <td class="a">
                                    Select Vehicle No
                                </td>
                                <td>
                                    <div style="width:40% !important;">
                                        <select id="VehicleName"  class="js-example-basic-single" onchange="getmodetext();" multiple></select>
                                    </div>
                                </td>
                                <td >
                                    
                                </td>
                                <td>
                                   
                                </td>
                            </tr>
                           

                          
                            <tr>
                                <td class="a" >
                                    Fuel Issue Date
                                </td>
                                <td>
                                 @Html.TextBox("InsDate", null, new { type = "date", style = "margin-bottom:0px;width: 400px;", placeholder = "Choose Fuel Issue Date" })
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                               
                            </tr>
                            
                            <tr>
                                <td class="a">
                                    Fuel Type
                                </td>
                                <td >
                                    <select class="form-control a" id="BloodGroup" name="BloodGroup" style="width:400px;height:36px">
                                        <option> Choose Fuel Type</option>
                                        <option>Petrol</option>
                                        <option>Disel</option>

                                    </select>
                                </td>
                                <td class="a">
                                    Issue Fuel
                                </td>
                                <td>
                                    @Html.TextBox("issfuel", null, new { type = "number", style = "margin-bottom:0px;width: 400px;", placeholder = "Enter Issued Fuel",min="0" })
                                </td>
                                
                            </tr>
                            <tr>
                                <td class="a">
                                    Night Charges 
                                </td>
                                <td>
                                    @Html.TextBox("night", null, new { type = "number", style = "margin-bottom:0px;width: 400px;", placeholder = "Enter night charges in Rupee", min = "0" })
                                </td>
                                <td class="a">
                                    Per KM Charges
                                </td>
                                <td>
                                    @Html.TextBox("perkm", null, new { type = "number", style = "margin-bottom:0px;width: 400px;", placeholder = "Enter night charges in rupee", min = "0" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" id="Submit" name="Submit" value="Submit" class="button button2" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
 <script src="~/Scripts/app/common.js"></script>
<script src="~/Scripts/app/_layoutCustId.js"></script>
<script src="~/Content/js/APIURL.js"></script>
  
    <link href="~/Scripts/Select/select2.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/Select/select2.min.js" type="text/javascript"></script>
    <script type="text/javascript">



        function getvehicle() {
            $.ajax({
                dataType: "json",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                url: apiBase.apiurl + "AdminAPI/GetVehicles",
                data: { custId: $custid },
                success: function (result) {
                    var data = result;
                    if (data.length > 0) {
                        $('#VehicleName').append($('<option></option>').val(0).html("All Vehicle's"));
                        $.each(data, function (j, item) {
                            $('#VehicleName').append($('<option></option>').val(item.Value).html(item.Text));
                        });
                    }
                }
            });
        }

        $(document).ready(function () {

          

            getvehicle();
            $("#VehicleName").select2({
            });
            var name;
            var mobile;
            $('.b1').html("NA");
            $('.a1').html("NA");
            
        });
        function getmodetext() {
            $('.b1').html("NA");
            $('.a1').html("NA");
        }

        $("#AddServiceRequestForm").submit(function (event) {

      

          
               



                saverecords()

                event.preventDefault();
           
            
        });
        function saverecords() {
            debugger;
         
            var VehicleName = $("#VehicleName option:selected").text();
            var monthlycharges = $("#txtmnthlychrge").val();
            var vehreg = $("#vehreg").val();
            var vehtype = $("#vehtype").val();
            var bbid = $("#VehicleName").val().toString();
            var vehmodel = $("#vehmodel").val();
            var InsDate = $("#InsDate").val();
            var pollutiondate = $("#pollutiondate").val();
            var InsDate = $("#InsDate").val();
            var servicedate = $("#servicedate").val();
            var mobno = $("#mobno").val();
            var drivername = $("#drivername").val();
            var vendor = $("#vendor").val();
            var mileage=$("#mileage").val();
      
           
          

            var AddComplaintUrl = baseUrl + "taxiapi/saveDCMvehdetails";
            $.ajax({
                type: "POST",
                data: {
                    bbid: bbid,
                    vehreg: vehreg,
                    charges: monthlycharges,
                    mileage: mileage,
                    vehtype: vehtype,
                    vehmodel: vehmodel,
                    insdate: InsDate,
                    polludate: pollutiondate,
                    servicedate: servicedate,
                    drivername: drivername,
                    mobno: mobno,
                    vendordetails: vendor
                },
                url: AddComplaintUrl,
                success: function (data) {
                    if (data)
                        toastr.success("please select Vehicle name, email, and any complaint checkbox");
                    else
                        toastr.warning("please select Vehicle name, email, and any complaint checkbox");
                }
            });
        }


        
     

    </script>
}


