
<style>
    .button {
        border: none;
        color: white;
        padding: 0px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        width: 400px !important;
    }

    .button1 {
        background-color: #dc3545; /* Green */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .button2 {
        background-color: #92a214; /* Green */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .button3 {
        background-color: #0d6efd; /* Green */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 200px !important;
    }

    .a {
        font-size: 17px;
    }
</style>
<div class="row-fluid" style="margin-bottom: 25px;">
    <div class="widget-body" style="border: 0">
        <div class="row-fluid">
            <div id="alertss" class="widget span12">
                <div class="widget-header">
                    <i class="fa fa-file-archive-o"></i>
                    <h5>@ViewBag.ReportTitle</h5>
                    <div class="btn-group btn-adjst" style="margin-left: 37px;">
                        <img id="excelExport" title="Click here to download the below results in excel form." src='/content/img/cc1.png' onmouseover="this.src='/content/img/z33.png';" onmouseout="this.src='/content/img/cc1.png';" style="margin-left: 0px; WIDTH: 33PX; cursor:pointer;">
                        @*<img onclick="sendEmail('@ViewBag.Report')" src='/content/img/cc2.png' onmouseover="this.src='/content/img/z22.png';" onmouseout="this.src='/content/img/cc2.png';" style="margin-left: 0px; WIDTH: 33PX; cursor:pointer;">*@
                        <img id="pdfExport" src='/content/img/cc3.png' onmouseover="this.src='/content/img/z31.png';" onmouseout="this.src='/content/img/cc3.png';" style="margin-left: 0px; WIDTH: 33PX; cursor:pointer;">
                    </div>
                </div>
                <div class="widget-body clearfix" style="overflow-x: auto">
                    <div class="box" style="background: #fdfdfd;">
                        <div class="box-content padded">
                            <div class="row">
                                <div class="col-md-8">
                                    <form class="form-inline">
                                        <div class="col-md-6">
                                            <div class="form-group padded">
                                                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; margin-top: -5%;">
                                                    <i class="fa fa-calendar"></i>
                                                    &nbsp;<span></span><b class="caret"></b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <select class="form-control" id="VehicleTypeList" style="margin-left:55px;"></select>



                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input type="button" value="search" id="BtnSearch" class="button button2" style="width:150px!important;">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/widget-body-->
</div>

@*<script src="@Url.Content("~/scripts/app/common.js")" @DateTime.Now.Ticks></script>
    <script src="~/Content/js/APIURL.js"></script>*@
<script>
   


    $(document).ready(function () {


        var VehicleTypeUrl = apiBase.apiurl + 'fmsapi/GetVehicleTypesWithcustid?custid=' + localStorage["custID"];
        document.getElementById("VehicleTypeList").innerHTML = "";
        $('#VehicleTypeList').find('option:not(:first)').remove();
        $.get(VehicleTypeUrl, function (data) {
            $('#VehicleTypeList').append($('<option style="background-image:url(~/Trackmaster_files/4.png);"></option>').val(0).html("All Type's"));
            $.each(data, function (key, value) {
                $("#VehicleTypeList").append($("<option></option>").val(value.typeId).html(value.vehicleType));
            })
        });
    });
</script>