,<div class="row-fluid" style="margin-bottom: 25px;">
    <div class="widget-body" style="border: 0">
        <div class="row-fluid">
            <div id="alertss" class="widget span12">
                <div class="widget-header">
                    <i class="fa fa-file-archive-o"></i>
                    <h5>@ViewBag.reportTitle</h5>
                    <div class="btn-group btn-adjst" style="margin-left: 37px;">
                        <img id="excelExport" title="Click here to download the below results in excel form." src='/content/img/cc1.png' onmouseover="this.src='/content/img/z33.png';" onmouseout="this.src='/content/img/cc1.png';" style="margin-left: 0px; WIDTH: 33PX; cursor: pointer;">
                      
                    </div>
                    <div class="checkbox pull-right">
                    </div>
                </div>
                <div class="widget-body clearfix" style="overflow-x: auto">
                    <div class="box" style="background: #fdfdfd;">
                        <div class="box-content padded">
                            <div class="row">
                                <div class="col-md-8">
                                    <form class="form-inline">
                                        <div class="form-group padded">
                                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                                <i class=" fa fa-calendar"></i>
                                                &nbsp;<span></span><b class="caret"></b>
                                            </div>
                                        </div>
                                        <div class="form-group" style="padding-left: 5px;">
                                            <input type="button" value="Search" id="BtnSearch" class="btn btn-green">
                                        </div>
                                        <div class="form-group">
                                            <span class="badge badge-info" data-toggle="tooltip" data-placement="left" title="Recommended Date range is between 1-7 days.Loads faster."><i class="fa fa-info-circle"></i></span>
                                        </div>
                                    </form>
                                </div>
                           
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>

<script src="~/Scripts/app/GeoFenceCustID.js"></script>

<script src="~/Content/js/APIURL.js"></script>
<script>
    $(document).ready(function () {
       // if ($custid > 13000) {
            $('[data-toggle="tooltip"]').tooltip();
            var reportName = document.location.pathname.match(/[^\/]+$/)[0];
            var url = apiBase.apiurl + "adminapi/CheckForAdOnReports";
            $.ajax({
                url: url,
                dataType: "json",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: { custid: $custid, reportName: reportName },
                async: false,
                success: function (data) {
                    if (data.length == 0) {
                        window.location.href = "@Url.Action("FeatureDisable","home")";
                    }
                },
                error: function (err) {
                    $.unblockUI();
                    toastr.warning('something went wrong!');
                }
            });
      //  }

    });

</script>

