@{
    ViewBag.Title = "AboutUs";
}


    <div class="row-fluid">
            <!--Heading part-->
            <div class="widget-body" style="border: 0">
                <div class="row-fluid">
                    <div class="widget span12">
                        <div class="widget-header">
                            <i class="fa fa-map-marker"></i>
                            <h5>Blackbox</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Heading part-->

            <!--body part-->
            <div class="row-fluid">
                <div class="widget-body" style="border: 0">
                    <div class="row-fluid">
                        <div id="alerts" class="widget span12">
                            <div class="widget-body clearfix" style="background: #fff; overflow-x: auto">
                                <div class="box_a">

                                    <div class="box_a_content cnt_a1">
                                     
    <div class="col-md-12" style=" padding: 30px;">
      
        
 <p>
     
                        <img src="~/img/BB.jpg" alt="Black Box - a Patent Product" align="left" style="padding: 12px 10px 0 0;" />
             <strong>  <span style="color:#FF8C00;"> Blackbox GPS Technology Pvt Limited </span> </strong>
since the year 2000
is one of the pioneers in the field of GPS-based Vehicle Tracking and
Management solutions in India <br />and is doing Research and development (R&D) <strong><span style="color:#FF8C00;">since the year 2000</span></strong> in this field
when other GPS-based tracking was considered not viable.

<p>We had placed our in the field <strong><span style="color:#FF8C00;">1st generation of offline vehicle management system </span></strong> in 2003 (when others had
not conceived the idea) thus giving us more than<br /> 10 years of extensive field experience which has enabled us
to develop a highly sophisticated, most reliable and stable practical solution in the market today.<br /> Presently we
are into our which makes use of GPRS
communication for Real Time tracking and monitoring.
1st generation of offline vehicle management system<br />
4th generation of patented “Blackbox” Tracking System</p>
<p>We are proud to announce that our extensive research and dedication has made us the fastest growing GPS
tracking company across India.</p>
     <h4>Why <span style="color:orange;">“BLACKBOX“</span> is best when it comes to fleet management solutions?</h4>
<p>We have all in house functions related to Tracking Products like:<br />
<span style="color:orange;">  <strong>o</strong> Own manufacturing</span> <br />
 We have our own manufacturing unit since inception and our protocols are compatible with all tracking
software.</p>
     <br />
    
 <p>   <span style="color:orange;">  <strong>o</strong> In-house Research and Development</span> <br />
     
We have more than 10 years of extensive experience of Designing hardware, Implementing and device
customization as per customer specifications.</p> 
     <br />
   
     <p>   <span style="color:orange;">  <strong>o</strong> In-house Software development</span> <br />
     
Our in house team of software developer, App developer & architects make us the company which offers
fast customized solutions as per customer need. We have servers based in highly secure office
environment.
         </p>
     <br />
    
      <p> <span style="color:orange;">  <strong>o</strong> In house Service engineer network across India</span> <br />
Our own service engineer network across India is the USP which no one can match, our field engineers
services are growing.
           </p>
     <br />
  
      <p>   <span style="color:orange;">  <strong>o</strong> Company serving 50K customers in India and a few International Markets since last 10 years.</span> <br />
    
 We have a strong & happy customer base of 50K customers covering all segments like -<br />
 a. Government (Police, Army, State Transport departments, Milk federations etc )<br />
 b. RBI & Banks<br />
 c. Top Corporate clients<br />
 d. Transporters and logistics industry<br />
 e. International customers with specially<br />
 designed products.</p>
    
       
  

     
        
    </div>
 <img src="~/img/PIC-2.jpg" alt="Black Box - a Patent Product" align="left" style="height:290px" />
                                        <div class="col-md-12" style=" padding: 30px;">
                                          
                                            <p> 
                                                 <p>   <span style="color:orange;">  <strong>o</strong> Original Equipment Manufacture ( OEM ) to companies</span> <br />
                                        
We are OEM supplier to companies & our products are getting fitted in the vehicle at the time of
production. </p> <br />
                                                <br />
                                                <p>   <span style="color:orange;">  <strong>o</strong> Aadhar GPS</span> <br />
Preferred vendor to Aadhar( Govt of India company UIDAI ) for supplying Aadhar GPS for their aadhar
centers in India .</p>
                                            <br />
                                       

                <p>   <span style="color:orange;">  <strong>o</strong> Asset Tracking</span> <br />                                
We have specially designed Plug and Play product for Asset tracking which gives battery back up of
11- 20 days..</p>
                                            <br />
                                          
                                                  <p>   <span style="color:orange;">  <strong>o</strong> Certifications</span> <br /> 
We are the only Indian company which has been granted patent by Govt of India for their property,<br />
GPS/GPRS technology used in “Blackbox “Vehicle Tracking Solutions<br />
The products are certified by ARAI (Automotive Research Association of India)<br />
We have ISO 9001-2015 certification and IP 65 certification.</p>
                                                  <br />
                                            <br />
                                                  <p>   <span style="color:orange;">  <strong>o</strong>  Expertise</span> <br /> 
<li>Fuel monitoring Solution with 98-99% accuracy.</li>
<li>Temperature Monitoring for refrigerated Transportation Industry.</li>
<li>On the move Images capturing camera interface in our portal.</li>
<li>Panic Button for emergency help.</li>
<li>Lid open/close solution for Milk, oil tankers.</li>
<li>RPM sensor for working hour productivity of earth moving machine.</li>
<li>Fleet Management Software (ERP)</li>
                                                      <br />
<p>Please take a few minutes to read the enclosed documents and information package to find out how
Blackbox GPS Technology Pvt Limited, one of the pioneers in the field of GPS based Vehicle Tracking and
Management solution can optimize operations and improve profitability in the business.</p>
                                                      <br />
  
                                                    
With Warm Regards
                                                      <br />
<span style="color:orange;">  <strong>Rajesh Vaidya</strong>(<strong>M.D</strong>)</span> <br /> 

Blackbox GPS Technology Pvt Limited</p><br />
                                             <img src="~/img/pic 2 (1).jpg" alt="Black Box - a Patent Product" align="left" style="height:260px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
   
     