@{
    ViewBag.Title = "Blank";
}

<div class="row-fluid" ng-controller="indexCtrl">
    <div class="widget-body">
        <!-- Main window -->
        <div class="main_container" id="tables_page">
            <div class="row-fluid">
                <p style="color: #999; font-size: 19px; margin-bottom: -15px;">Blank</p>
            </div>
        </div>
    </div>
</div>
@section scripts{
     <script src="@Url.Content("~/app/home/indexCtrl.js")?v=1.0.00.000.0005"></script>
}








