@{
    ViewBag.Title = "Staff";
    Layout = null;
}
<!DOCTYPE html>

<html >
<head>
    <title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
</head>
<body >
 <div class="container ">
     <div class="col-md-12"><br /></div>

     <div class="col-md-12"><br /></div>
     <div class="col-md-3"></div>
     <div class="col-md-6">

      <form class="form-signin" id="getotp" >
           
        <h4 class="form-signin-heading" style="color:dimgray;">Please Enter Your User Name Or Email</h4>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text"  class="form-control" id="txtEmail"  placeholder="Enter Email or Username" required autofocus>
          <br />
          <a class="btn btn-warning " href="@Url.Content("/home/login")">back to Login</a>
          <button class="btn btn-success"  id="SendPasswordtoemail"><i class="fa fa-key"></i>&nbsp;Get OTP</button>
     
          <button class="btn btn-success"   id="ConfirmOTP" onclick="ConfirmOTP();" style="display: none; margin-left: 167px; margin-top: -31px;"><i class="fa fa-key"></i>&nbsp;Confirm OTP</button>
   
      </form>
         </div>
     <div class="col-md-3"></div>

     <div>

         <table class="table" id="updpassword" style="display:none;">

             <tr>
                 <td>New Password</td>
                 <td><input type="password" class="form-control" id="txtpassword" placeholder="Enter new Password" required autofocus></td>
             </tr>
             <tr>
                 <td>Confirm Password</td>
                 <td><input type="password" class="form-control" id="txtConfirmpassword" placeholder="Enter Confirm Password" required autofocus></td>
             </tr>
             <tr>
                 <td></td>
                 <td>
                     <button class="btn btn-success" id="chgpsd"><i class="fa fa-key"></i>&nbsp;Chnage Password</button>
                 </td>

             </tr>
         </table>
           
     </div>
     </div>
      
        <script src="~/Content/js/APIURL.js"></script>

        <script>
            var custid;

            $(document).ready(function () {
           

            });


      


           
    
        </script>
    </body>
</html>